apiVersion: apps/v1
kind: Deployment
metadata:
  name: clockwork
spec:
  replicas: {{ clockwork_replicas }}
  selector:
    matchLabels:
      de-app: clockwork
  template:
    metadata:
      labels:
        de-app: clockwork
    spec:
{% if clockwork_pod_anti_affinity %}
      affinity:
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            - labelSelector:
                matchExpressions:
                  - key: de-app
                    operator: In
                    values:
                      - clockwork
              topologyKey: kubernetes.io/hostname
{% endif %}
      volumes:
{% include 'partials/de_ca_volume.j2' %}
        - name: clockwork-configs
          secret:
            secretName: clockwork-configs
            items:
              - key: clockwork.properties
                path: clockwork.properties
      containers:
        - name: clockwork
          image: harbor.cyverse.org/de/clockwork
          resources:
            requests:
              cpu: "10m"
              memory: "512Mi"
              ephemeral-storage: "1Gi"
            limits:
              cpu: "650m"
              memory: "2Gi"
              ephemeral-storage: "1Gi"
          args:
            - --config
            - /etc/iplant/de/clockwork.properties
          volumeMounts:
{% include 'partials/de_ca_volume_mount.j2' %}
            - name: clockwork-configs
              mountPath: /etc/iplant/de
              readOnly: true
          env:
{% include 'partials/de_ca_env.j2' %}
            - name: TZ
              valueFrom:
                configMapKeyRef:
                  name: timezone
                  key: timezone
            - name: OTEL_TRACES_EXPORTER
              valueFrom:
                secretKeyRef:
                  name: configs
                  key: OTEL_TRACES_EXPORTER
            - name: OTEL_EXPORTER_JAEGER_ENDPOINT
              valueFrom:
                secretKeyRef:
                  name: configs
                  key: OTEL_EXPORTER_JAEGER_ENDPOINT
      restartPolicy: Always
