amqp:
  uri: amqp://{{ de_amqp_user }}:{{ de_amqp_password | urlencode }}@{{ de_amqp_host }}:{{ de_amqp_port }}/{{ de_amqp_vhost | urlencode | regex_replace('/', '%2F') }}
  exchange:
    name: de
    type: topic
de:
  base: {{ de_base_uri|string|regex_replace("\/$","") }}
  admin: /admin
  analyses: /analyses
  apps: /apps
  collections: /collections
  data: /data/ds
  doi: /doi
  teams: /teams
  tools: /tools
  vice: /vice
email:
  fromAddress: {{ email_src }}
  smtpHost: local-exim
