apiVersion: apps/v1
kind: Deployment
metadata:
  name: ai-sandboxes-ui
spec:
  replicas: {{ ai_sandboxes_ui_replicas }}
  selector:
    matchLabels:
      de-app: ai-sandboxes-ui
  strategy:
    rollingUpdate:
      maxSurge: 200%
  template:
    metadata:
      labels:
        de-app: ai-sandboxes-ui
        app: de
    spec:
{% if ai_sandboxes_ui_pod_anti_affinity %}
      affinity:
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            - labelSelector:
                matchExpressions:
                  - key: de-app
                    operator: In
                    values:
                      - ai-sandboxes-ui
              topologyKey: kubernetes.io/hostname
{% endif %}
      restartPolicy: Always
{% if de_ca_bundle_configmap | default('', true) | length > 0 %}
      volumes:
{% include 'partials/de_ca_volume.j2' %}
{% endif %}
      containers:
        - name: ai-sandboxes-ui
          image: harbor.cyverse.org/de/ai-sandboxes-ui
          resources:
            requests:
              cpu: "100m"
              memory: "1Gi"
              ephemeral-storage: "1Gi"
            limits:
              cpu: "3000m"
              memory: "3Gi"
              ephemeral-storage: "1Gi"
          env:
{% include 'partials/de_ca_env.j2' %}
            - name: TZ
              valueFrom:
                configMapKeyRef:
                  name: timezone
                  key: timezone
            - name: AI2S_TERRAIN_BASE_URL
              valueFrom:
                secretKeyRef:
                  name: ai-sandboxes-ui-configs
                  key: AI2S_TERRAIN_BASE_URL
            - name: AI2S_KEYCLOAK_ISSUER
              valueFrom:
                secretKeyRef:
                  name: ai-sandboxes-ui-configs
                  key: AI2S_KEYCLOAK_ISSUER
            - name: AI2S_KEYCLOAK_CLIENT_ID
              valueFrom:
                secretKeyRef:
                  name: ai-sandboxes-ui-configs
                  key: AI2S_KEYCLOAK_CLIENT_ID
            - name: AI2S_KEYCLOAK_CLIENT_SECRET
              valueFrom:
                secretKeyRef:
                  name: ai-sandboxes-ui-configs
                  key: AI2S_KEYCLOAK_CLIENT_SECRET
            - name: AI2S_ADMIN_GROUPS
              valueFrom:
                secretKeyRef:
                  name: ai-sandboxes-ui-configs
                  key: AI2S_ADMIN_GROUPS
            - name: NEXTAUTH_URL
              valueFrom:
                secretKeyRef:
                  name: ai-sandboxes-ui-configs
                  key: NEXTAUTH_URL
            - name: NEXTAUTH_SECRET
              valueFrom:
                secretKeyRef:
                  name: ai-sandboxes-ui-configs
                  key: NEXTAUTH_SECRET
            - name: AI2S_LOG_LEVEL
              valueFrom:
                secretKeyRef:
                  name: ai-sandboxes-ui-configs
                  key: AI2S_LOG_LEVEL
            - name: AI2S_LOG_LABEL
              valueFrom:
                secretKeyRef:
                  name: ai-sandboxes-ui-configs
                  key: AI2S_LOG_LABEL
          ports:
            - name: listen-port
              containerPort: 3000
          livenessProbe:
            httpGet:
              path: /
              port: 3000
            periodSeconds: 20
            timeoutSeconds: 10
          startupProbe:
            httpGet:
              path: /
              port: 3000
            initialDelaySeconds: 60
            periodSeconds: 20
            timeoutSeconds: 10
            failureThreshold: 100
          readinessProbe:
            httpGet:
              path: /
              port: 3000
            periodSeconds: 20
            timeoutSeconds: 10
{% if de_ca_bundle_configmap | default('', true) | length > 0 %}
          volumeMounts:
{% include 'partials/de_ca_volume_mount.j2' %}
{% endif %}
---
apiVersion: v1
kind: Service
metadata:
  name: ai-sandboxes-ui
spec:
  selector:
    de-app: ai-sandboxes-ui
  ports:
    - protocol: TCP
      port: 80
      targetPort: listen-port
