frontend localhost
    bind *:80
    redirect scheme https

frontend https
    bind *:443
    mode tcp
    option tcplog
    default_backend gateway

backend gateway
    balance roundrobin
    mode tcp
{% for svr in groups['k8s_de_workers'] %}
    server {{ svr }} {{ svr }}:{{ traefik_https_port }} check inter 5000
{% endfor %}
